<footer>
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-8 push-2">
          <h4>Sign Up For Our Newsletter</h4>
            <form action="//kennedysgarage.us1.list-manage.com/subscribe/post?u=cd40160df51dd55df2d36e60c&amp;id=b30df90a8d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="input">
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cd40160df51dd55df2d36e60c_b30df90a8d" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
          </div><!--/input-->
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div><!--/col-->
      </div><!--/row-->
    </div><!--/container-->
  </div><!--/newsletter-->

  <div class="sub">
    <div class="container">
      <p class="copy">&copy; Copyright 2016, Theron Moto&trade; All rights reserved<p>
      <ul>
        <li><a href="https://twitter.com/theronmoto">{% image twitter.svg %}</a></li>
        <li><a href="https://www.facebook.com/Theron-Moto-1643812895936733/?fref=ts">{% image facebook.svg %}</a></li>
      </ul>
    </div><!--/container-->
  </div><!--/copy-->
</footer>

<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
{% javascript script %}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</body>
</html>
