/* ========================================================= Typography ===*/
.title{
  font-family: 'Veneer', sans-serif;
}
h1, h2, h3, h4, h5 {
  color: #1D282F;
  margin: 1.414em 0 0.5em;
  font-family: 'Circular Bold', sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
h1{
  font-family: 'Veneer', sans-serif;
  font-size: 50px;
  margin: 0 0 20px;
}
h2{
  font-size: 37px;
  margin: 0 0 15px;
}
h3{
  display: block;
  font-size: 28px;
  margin: 35px 0 15px;
}
h4{
  font-size: 21px;
  margin: 5px 0;
}
h5{
  font-size: 16px;
  margin: 5px 0;
}
p{
  color: #797f85;
  line-height: 1.5;
  margin: 0 0 1.5em;
}
strong{
  color: #6D7378;
  font-family: 'Circular Bold', sans-serif;
}
small, .font_small{
  font-size: 0.707em;
}
ul, ol{
  margin: 0 0 20px;
}
li{
  color: #797f85;
  font-family: 'Circular Book', sans-serif;
  line-height: 1.5;
}
dl{
  color: #797f85;
  font-family: 'Circular Book', sans-serif;
  line-height: 1.5;
  margin: 0 0 10px;
}
dt{
  font-weight: bold;
}
dd{
  color: #797f85;
  margin: 0 0 10px 10px;
}
